@charset "UTF-8";
/*

  Blog
  Non Copyable license

*/

$header-color: #FFF;

$body-color: #404040;
$font: "adriane", serif;
$font-weight-body: 400;

$font-weight-title: 600;
$font-weight-light: 100;

.site-header {
  height: 180px;
  background: $header-color;
  margin-top: 0em;
}

.site-header .mt2 {
  margin-top: 0rem;
  padding-top: 5rem;

}

body {
  font-family: $font;
}

p {
  font-weight: $font-weight-body;
}

p,
.post-link .post-title,
.pagination a, .pagination .disabled {
  color: $body-color;
}

.post-meta {
  font-weight: $font-weight-light;
  font-size: 1.0rem;
}

.footnotes {
  margin-top: 4em;
}

.pagination a, .pagination .disabled {
  padding: 0.6em 1.7em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $font;
  font-weight: $font-weight-title;
}

a.site-title {
  font-family: $font;
  font-weight: 400 !important;
  font-size: 60px !important;
  background-image: none !important;
}

twitter-tweet, .twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

pre {
  border-radius: 8.0px;
}

@media screen and (max-width: 48em) {

  h2, .h2 {
    font-size: 1.5rem;
  }

}

@media screen and (min-width: 48em) {

  h2, .h2 {
    font-size: 1.75rem;
  }

  .posts .post:last-child {
    border-bottom: none;
    margin-bottom: .333em;
    padding-bottom: 0;
  }

}

@media screen and (min-width: 64em) {

  h2, .h2 {
    font-size: 1.9rem;
  }

  .posts .post {
    margin-bottom: 1.5em;
    padding-bottom: 0.6em;
    border-bottom: thin solid #f3f3f3;
  }

}
