@charset "UTF-8";
/*

  Blog
  Non Copyable license

*/

$header-background-color: #111D28;
$body-background-color: #FAFCFF;
$footer-background-color: #FFFFFF;
$site-title-color: #FFFFFF;
$body-color: #111D28;
$link-color: #2A75C1;

$headline-font: "adriane", serif;
$font: "adriane", serif;
$font-weight-body: 400;

$font-weight-title: 500;
$font-weight-subtitle: 400;
$font-weight-light: 100;

.site-header {
  height: 220px;
  background: $header-background-color;
  margin-top: 0em;
  margin-bottom: 3rem;
  text-align: left !important;

  border-bottom-width: 1.0px;
  border-bottom-color: $body-color;
  border-bottom-style: dotted;
}

.site-header .mt2 {
  margin-top: 0rem;
  padding-top: 2.5rem;
}

body {
  font-family: $font;
  background-color: $body-background-color;
}

p {
  font-weight: $font-weight-body;
}

p,
.post-link .post-title,
.pagination a, .pagination .disabled {
  color: $body-color;
}

.post-meta {
  font-weight: $font-weight-light;
  line-height: 1.2rem;
}

.post-header h2 {
  margin-right: 0.8rem;
  margin-bottom: 0.3rem;
}

.p-responsive {
  padding-top: 1.0rem;
}

.footnotes {
  margin-top: 4em;
}

.footer, footer .wrap {
  background-color: $footer-background-color;
}

.pagination a, .pagination .disabled {
  padding: 0.6em 1.7em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $headline-font;
  font-weight: $font-weight-title;
  margin: 0.5em 0 0.5em;
}

a {
  color: $link-color;
}

a.site-title {
  text-align: left !important;
  font-family: $font;
  font-weight: 400 !important;
  font-size: 2.5rem !important;
  background-image: none !important;
  color: $site-title-color;
}

.site-meta {
  text-align: left !important;
  margin-top: 30px;
}

p.site-meta-title {
  font-family: $font;
  font-weight: $font-weight-subtitle;
  font-size: 1.0rem;
  color: $site-title-color;
  line-height: 0.8em;
}

.site-header {
  color: $site-title-color;
}

.site-header .site-title {
  float: none !important;
}

twitter-tweet, .twitter-tweet-rendered {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

pre {
  border-radius: 8.0px;
}

@media screen and (max-width: 48em) {

  h1, .h1 {
    font-size: 1.6rem;
  }

  h2, .h2 {
    font-size: 1.5rem;
  }

  .post-meta {
    font-size: 0.8rem;
  }

}

@media screen and (min-width: 48em) {

  h1, .h1 {
    font-size: 2.0rem;
  }

  h2, .h2 {
    font-size: 1.75rem;
  }

  .posts .post:last-child {
    border-bottom: none;
    margin-bottom: .333em;
    padding-bottom: 0;
  }

  .post-meta {
    font-size: 0.9rem;
  }

}

@media screen and (min-width: 64em) {

  h1, .h1 {
    font-size: 2.5rem;
  }

  h2, .h2 {
    font-size: 1.9rem;
  }

  .posts .post {
    margin-bottom: 1.5em;
    padding-bottom: 0.6em;
    border-bottom: thin solid #f3f3f3;
  }

  .post-meta {
    font-size: 1.0rem;
  }

}
